.removeImages{
  position: absolute;
  right: 2px;
  background: #eee;
  width: 19px;
  color: #9e0000;
  font-weight: 600;
  font-size: small;
  border-radius: 50px;
  top: 2px;
}
.main-modal{
  width: 100%;
  box-shadow: 3px 3px 10px -5px black;
  border-radius: 8px;
  max-height: 100vh;
}
.add{
  right:0;
  padding: 5px 10px;
  border-radius: 50px;
}
.add:hover{
  background-color: #444444;
  color: #fff;
  transition: 0.4s;
  cursor: pointer;
}
.form-control:focus,.form-check-input:focus{
  border-color: #dfac7f;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgb(223 172 127 / 31%);
}
