<div class="best-seller">
  <a href="#" class="text-uppercase ps-5" >BestSellers Of month</a>

<div class="books-card d-flex justify-content-around row mt-5" >
  <div class="book-card col-3 p-0 mt-4"appBoxHover >
    <div class="book-image">
      <img src="../../../assets/images/The_God_Father_Book_Cover.jpg" class="w-100" alt="...">
    </div>
    <div class="book-body">
      <p class="p-3 m-0">The GodFather</p>
    </div>
  </div>
  <div class="book-card col-3 p-0 mt-4" appBoxHover >
    <div class="book-image">
      <img src="../../../assets/images/The_God_Father_Book_Cover.jpg" class="w-100" alt="...">
    </div>
    <div class="book-body">
      <p class="p-3 m-0">The GodFather</p>
    </div>
  </div>
  <div class="book-card col-3 p-0 mt-4" appBoxHover>
    <div class="book-image">
      <img src="../../../assets/images/The_God_Father_Book_Cover.jpg" class="w-100" alt="...">
    </div>
    <div class="book-body">
      <p class="p-3 m-0">The GodFather</p>
    </div>
  </div>
  <div class="book-card col-3 p-0 mt-4" appBoxHover>
    <div class="book-image">
      <img src="../../../assets/images/The_God_Father_Book_Cover.jpg" class="w-100" alt="...">
    </div>
    <div class="book-body">
      <p class="p-3 m-0">The GodFather</p>
    </div>
  </div>
</div>
</div>

