<div class="first-page height-100">
  <div class="search d-flex flex-wrap align-content-center row mt-3 position-relative">
    <img src="../../../assets/peakpx.jpg" alt="first home image" class="w-100 h-100 ">
    <div class="box w-50 mb-3 col-12">
      <div class="search-box input-group ">
        <input type="text" placeholder="Search for Book name..." class="search-input form-control text-secondary col-md-10 border-none" aria-label="Text input with dropdown button">
        <div class="input-group-append col-md-2 p-0">
          <button class="search-btn btn text-secondary w-100" type="button"><fa-icon [icon] = faMagnifyingClass></fa-icon></button>
        </div>
      </div>
    </div>
  </div>
  <div class="bestbook mt-3 p-5">
    <div class="head text-center">
      <h1 >Best Books</h1>
      <p class="p-0 m-0">AND RECOMMENDATIONS FOR YOU</p>
    </div>
    <div class="recommended-box">

    <h2>Kill a Mockingbird by Harper Lee</h2>
    <p>A classic exploration of racial injustice and moral growth in the American South.</p>

    <h2>Dune by Frank Herbert</h2>
    <p>Immerse yourself in the epic tale of political intrigue and ecological transformation.</p>

    <h2>Sapiens: A Brief History of Humankind by Yuval Noah Harari</h2>
    <p>Gain insights into the evolution of human societies in this thought-provoking non-fiction work.</p>

    <h2>Gone Girl by Gillian Flynn</h2>
    <p>A gripping psychological thriller that keeps you guessing until the very end.</p>
    </div>
  </div>
</div>
