nav{
  z-index: 1000000;
}
.nav{
  background-color: var(--main-color);

  /* width: 100%; */
}
.nav .links a{
  color: white;
  text-decoration: none;
  padding: 10px;
  height: fit-content;
  margin-right: 5vw;
  font-weight:500;
}
.nav .links a:last-child{
  background-color: #00000063;
  border-radius: 25px;
}
.navbar .navbar-nav a:hover{
  color: black;
  transition: 0.3s;
}
