<!-- <div class="nav row  p-1 d-flex align-items-center navbar navbar-expand-lg">
  <div class="navbar-brand Logo col-2 ps-4"><img src="assets/book (1).png" style="height: 55px;"></div>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
  <div class="links col-10 d-flex justify-content-end ">
    <a href="#" class="nav-item nav-link active">Home</a>
    <a href="#"class="nav-item nav-link">Books</a>
    <a href="#"class="nav-item nav-link">Sign in</a>
  </div>
  </div>
</div> -->
<nav class="navbar navbar-expand-lg nav px-5 overflow-hidden">
  <a class="navbar-brand m-0 p-0" href="#"><img src="assets/book (1).png" style="height: 55px;"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link  mx-lg-2 text-light"[routerLinkActiveOptions]="{exact:true}" routerLinkActive="active" routerLink="">Home</a>
      <a class="nav-item nav-link mx-lg-2 text-light" routerLinkActive="active" href="#">Authors</a>
      <a class="nav-item nav-link mx-lg-2 text-light" routerLinkActive="active" href="#">Books</a>
      <a class="nav-item nav-link mx-lg-2 text-light" routerLink="/dashboard">Dashboard</a>
      <a class="nav-item nav-link mx-lg-2 text-light" routerLinkActive="active" href="#">SignIn</a>
    </div>
  </div>
</nav>
